<div class="settings-container columns">
  <div class="column side-bar">
    <aside class="menu">
      <!-- General -->
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a>Custom Board</a></li>
        <li><a>Themes</a></li>
      </ul>

      <!-- Other -->
      <p class="menu-label">
        Other
      </p>
      <ul class="menu-list">
        <li><a>Preferences</a></li>
      </ul>
    </aside>
  </div>

  <div class="column is-three-quarters">
    <p>test</p>
  </div>
</div>
