@import '../../../customizedStyle';

.nav-bar {
  position: relative;

  display: flex;
  flex-direction: column;

  height: 50px;

  border-bottom: 1px solid $gray;

  background-color: #1b1b1b;

  .app-name {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 200px;
    height: 100%;

    background-color: $gray;

    padding: 0 20px;

    a {
      color: $light;

      font-size: 18px;
      font-weight: bold;

      margin-left: 15px;
    }

    i {
      color: $blue;

      font-size: 20px;

      &:hover {
        cursor: pointer;

        text-shadow: 1px 2px rgba(black, .15);
      }
    }
  }

  .nav-items-end {
    position: absolute;
    right: 10px;

    display: flex;
    align-items: center;

    width: auto;
    height: 100%;

    .user-pict {
      width: 30px;

      cursor: pointer;
    }
  }
}
