@import '../customizedStyle';

.root {
  font-family: $defaultFontFamily !important;
  height: 100%;

  display: flex;
  flex-direction: column;

  background-color: $bg-primary;
  color: $light;

  .main-container {
    padding: 15px 20px;

    height: 100%;
  }
}

