@import '../../../../../customizedStyle';

.custom-board-container {
  padding: 0 20px 20px 20px;

  span {
    font-size: 24px;
    font-weight: bold;
  }

  .no-results {
    text-align: center;
  }

  .stages-actions{
    text-align: right;

    .cancel-changes {
      width: 60px;
      transition: .2s;

      margin-right: 10px;

      &:hover {
        background-color: rgba(255, 255, 255, .7) !important;
      }
    }

    .save-changes {
      width: 60px;

      transition: .2s;

      background-color: lighten($blue, 5%) !important;

      border: none;

      &:hover {
        background-color: darken($blue, 10%) !important;

        color: $light;
      }
    }
  }
}

.tab-stages {
  width: 100%;
  max-height: 700px;

  margin-top: 10px;

  thead {
    text-align: center;

    border-bottom: 1px solid $light;

    th {
      color: #7a7a7a;

      height: 30px;
    }
  }

  tbody {
    .tr-stages {
      cursor: pointer;

      &:hover {
        color: $bg-primary;
        background-color: $light;

        transition: 0.3s;

        .actions {
          opacity: 1;
        }
      }

      td {
        text-align: center;
        vertical-align: middle;

        height: 35px;
      }
    }
  }
}

td {
  text-align: center;
  vertical-align: middle;

  height: 35px;
}

.actions {
  opacity: 0;

  a {
    .edit-stage {
      font-size: 20px;
      color: $blue;

      &:hover {
        color:  darken($blue, 5%);
      }
    }

    .delete-stage {
      font-size: 20px;
      color: #ff3f34;

      margin-left: 10px;

      &:hover {
        color:  darken(#ff3f34, 5%);
      }
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.stage-modal-form {
  .modal-actions {
    text-align: right;
  }
}

.color-option {
  display: flex;

  .display-color {
    margin-left: 5px;
    width: 100%;
    height: auto;

    //background-color: red;
  }
}
