/* You can add global styles to this file, and also import other style files */

@import 'customizedStyle';

@import '../node_modules/bulma/bulma';

@import "~ngx-easy-table/style.scss";

@import "~ngx-smart-modal/ngx-smart-modal";
.ngx-table__header-title {
  color: $light;
}

@import '~ngx-toastr/toastr';
#toast-container>.toast-success {
  background-color: #2ed573 !important;
}

#toast-container>.toast-error {
  background-color: #e74c3c !important;
}

#toast-container>.toast-warning {
  background-color: $yellow !important;
}
